# Byte-compiled / optimized / DLL files
*.env
*.old
*.log
*.bak
.bashrc
.ssh/
.vscode-server/
.gitconfig
.cache/
.gnupg/
.bash_history
.dotnet/

node_modules
.next
pwned-proxy-frontend/app-main/.env.local
pwned-proxy-frontend/app-main/package-lock.json
package-lock.json
