[
  {
    "group_name": "Aalborg Universitet",
    "api_keys": [
      {"raw_key": "example-key-aau", "domains": ["aau.dk"]}
    ]
  },
  {
    "group_name": "Roskilde Universitet",
    "api_keys": [
      {"raw_key": "example-key-ruc", "domains": ["ruc.dk"]}
    ]
  },
  {
    "group_name": "K\u00f8benhavns Universitet",
    "api_keys": [
      {"raw_key": "example-key-ku", "domains": ["ku.dk"]}
    ]
  },
  {
    "group_name": "Niels Bohr Institutet",
    "api_keys": [
      {"raw_key": "example-key-nbi", "domains": ["nbi.dk"]}
    ]
  },
  {
    "group_name": "IT-Universitetet i K\u00f8benhavn",
    "api_keys": [
      {"raw_key": "example-key-itu", "domains": ["itu.dk"]}
    ]
  },
  {
    "group_name": "Danmarks Tekniske Universitet",
    "api_keys": [
      {"raw_key": "example-key-dtu", "domains": ["dtu.dk"]}
    ]
  },
  {
    "group_name": "Danish e-Infrastructure Cooperation",
    "api_keys": [
      {"raw_key": "example-key-deic", "domains": ["deic.dk"]},
      {"raw_key": "example-key-cert", "domains": ["cert.dk"]}
    ]
  },
  {
    "group_name": "Copenhagen Business School",
    "api_keys": [
      {"raw_key": "example-key-cbs", "domains": ["cbs.dk"]}
    ]
  }
]
